@font-face {
    font-family: "Decipher";
    src: url("/fonts/DecipherPersonalUseRegular-nRpeO.otf") format("truetype");
  }
  
body {
    background-image: url("/Discover-your-drink/subpages/drinks/oldCuban/images/boks.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.recipe {
    background-color: rgba(34, 32, 32, 0.726);
    color: white;
    -webkit-flex: 1;
    flex: 1;
    max-width: 500px;
    max-height: 100%;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px 0 0 10px;
  }
  
.recipe h1 {
    color: rgb(197, 126, 45);
    font-family: Decipher;
    font-size: 70px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  
img {
    max-width: 500px;
    max-height: 662px;
    border-radius: 0 10px 10px 0;
  }
  
a {
    text-decoration: none;
    color: black;
  }
  
ul {
    list-style-type: square;
  }
  
ul li::marker,
ol li::marker {
    color: rgb(197, 126, 45);
  }
  
  ol {
    margin-bottom: 40px;
  }
  
span {
    color:rgb(197, 126, 45);
  }